@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');
/* font-family: "Lexend Zetta", serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Lexend Zetta", serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f2f2f2;
}

.header__container{
  height: 60vh;
  background-image: url(image/header__background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.wrapper{
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 22, 90, 0.592);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
nav ul{
  display: flex;
  flex-direction: row;
}
nav ul li{
  color: white;
  font-family: "Lexend Zetta",Arial, Helvetica, sans-serif;
  font-size: 13px;
  list-style: none;
  margin: 10px 25px;
}
nav ul li:hover{
  margin-bottom: 1px;
  border-bottom: 2px solid white;
}
.header__subtitel{
  margin-top: 80px;
  font-size: 30px;
  font-family: "Lexend Zetta",Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
.header__title{
  font-size: 40px;
  font-family: "Lexend Zetta",Arial, Helvetica, sans-serif;
  font-weight: 450;
  letter-spacing: 3px;
  word-spacing: 5px;
}
.wrapper p{
  font-size: 13px;
  font-family: "Lexend Zetta",Arial, Helvetica, sans-serif;
  font-weight: 250;
  letter-spacing: 1px;
  word-spacing: 3px;
}
.wrapper .search__section{
  margin-top: 50px;
  background-color: #e7e2e2;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #404243;

  border-radius: 50px;
  height: 40px;
}
.bx {
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}
.input_text{
  width: 500px;
  height: 20px;
  background-color: #e7e2e2;
  border: none;
}
input[type="text"]:focus {
  outline: none; /* Supprime la bordure de focus */
}

.product__container{
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product__card {
  background-color: rgba(174, 172, 172, 0.301);
  padding: auto;
  margin: 20px;
  padding-top: 10px;
  height: 300px;
  width: 200px;

}
.image__container{
  height: 180px;
  width: 180px;
  margin: auto;

}
.image__container img {
  width: 100%;
  height: 100%;
}

.product__description{
  margin-left: 10px;
  margin-top: 5px;
}
.product__description h3{
  font-size: 18px;
  font-family: "Poppins",Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.product__description p{
  font-size: 13px;
  font-family: "Poppins",Arial, Helvetica, sans-serif;
}
.footer__container{
  width: 100%;
  height: 40vh;
  background-color: #283548;
}

/* ==============all screan and tab */

@media (max-width: 920px) {
  .product__container{
    margin: 30px 50px;
  }
}
@media (max-width: 820px) {
  .product__container{
    margin: 30px 0px;
  }
}

@media (max-width: 1100px) {
  .header__title{
    font-size: 30px;
    font-weight: 350;
  }
  .header__subtitel{
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 1px;
  }
}
@media (max-width: 840px) {
  .header__title{
    font-size: 20px;
    font-weight: 350;
  }
  .header__subtitel{
    font-size: 20 px;
    font-weight: 200;
  }
  .wrapper p{
    font-size: 10px;
    font-family: "Lexend Zetta",Arial, Helvetica, sans-serif;
    font-weight: 250;
  }
  .input_text {
    width: 200px;
    height: 20px;
    background-color: #e7e2e2;
    border: none;
  }
}
@media (max-width: 590px) {
  .header__title{
    font-size: 18px;
    font-weight: 350;
  }
  .header__subtitel{
    font-size: 16 px;
    font-weight: 200;
  }
  .wrapper p{
    font-size: 12px;
    font-family: "Lexend Zetta",Arial, Helvetica, sans-serif;
    font-weight: 250;
  }
}

/*================== all phone ============ */

@media (max-width: 450px){
  nav ul li{
    margin: 5px 25px;
    font-size: 8px;
    padding: 0;
  }
  .header__title{
    font-size: 15px;
    font-weight: 350;
    word-spacing: 0;
    letter-spacing: 0;
    margin-bottom: 5px;

  }
  .header__subtitel{
    font-size: 12px;
    font-weight: 200;
    word-spacing: 0px;
    letter-spacing: 0px;
    margin-bottom: 10px;
  }
  .wrapper p{
    font-size: 8px;
    font-weight: 250;
    word-spacing: 0;
    letter-spacing: 0;
  }
  .product__container{
    justify-content: center;
  }
  .product__card {
    padding: auto;
    margin: 5px;
    height: 170px;
    width: 100px;
  
  }
  .image__container{
    height: 90px;
    width: 90px;
    margin: auto;
  
  }
  .image__container img {
    width: 100%;
    height: 100%;
  }
  
  .product__description{
    margin-left: 5px;
    margin-top: 2px;
  }
  .product__description h3{
    font-size: 9px;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
  }
  .product__description p{
    font-size: 7px;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
  }


}




